<li>

  {{skill.title}}

  <button class="btn btn-default" {{action 'rateSkill' 0}}>N/A</button>
  <button class="btn btn-default" {{action 'rateSkill' 1}}>Struggling</button>
  <button class="btn btn-default" {{action 'rateSkill' 2}}>Adequate</button>
  <button class="btn btn-default" {{action 'rateSkill' 3}}>Confident</button>

</li>
