{{#if editing}}
  <div id="edit-form">
    {{view "select" content=cohortNames value=user.cohort.name}}
    <button {{action 'stopEditing'}}>Assign to Cohort</button>
  </div>
{{else}}
  <h5>{{user.cohort.name}} Cohort</h5>
  <button {{action 'startEditing'}} class="button tiny secondary-btn">Change Cohort</button>
{{/if}}

