 <div class='text-center filter-title'><h1>Featured Skills</h1></div>

<div class="skill">
  {{#if session.currentUser}}
  <button class='btn btn-large' {{action "sortBy" "name"}}>Sort By Name</button>
  <button class='btn btn-large' {{action "sortBy" "section.name"}}>Sort By Module</button>
  <button class='btn btn-large' {{action "sortBy" "rating.score"}}>Sort By Rating</button>
    {{#each}}
      {{skill-item skill=this}}
    {{/each}}
  {{else}}
    Please log-in to see featured skills.
  {{/if}}
</div>
