<div class='text-center filter-title'><h1>New Skill</h1></div>

  {{#each message in errors.messages}}
    <div class="error">
      {{message}}
    </div>
  {{/each}}


  <div class="form-group">
    <label>Name</label>
    {{input type="text" value=name class="form-control"}}
  </div>

  <div class="form-group">
    <label>Group</label>
      {{view "select"
          content=groups
          value=group
          class="form-control"
          prompt="Select Group"
      }}
  </div>

  <div class="form-group">
    <label>Featured?</label>
      {{input type="checkbox" checked=featured}}
  </div>

  <button class="btn btn-default" {{action 'saveSkill'}}>Save Skill</button>
