
<div class="container">
  {{#if session.isWorking}}
    One sec while we get you signed in...
  {{else}}
    {{error}}
    {{#if session.isAuthenticated}}
      <button {{action 'closeSession'}}>
        Logout
      </button>
    {{else}}
      <button {{action 'signInViaGithub'}}>
        Login
      </button>
    {{/if}}
  {{/if}}
  <div class="row">
    <div class="col-md-12">
      <div class="row text-center">
        <img src="/assets/images/skillinventorylogo.png"></img>
      </div>
      <hr>
    </div>
  </div>

  {{outlet}}

</div>
